
body{
    color: black;
    margin-left: 0px;
    margin-right: 0px;
}

#heading{
    text-align: center;
}

table{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}

table, th, td{
    border: 2px solid black;
    border-collapse:collapse ;
}

#footer{
    background-color: rgb(39, 61, 39);
    padding: 20px;
    margin-top: 20px;
    margin-left: 0px;
    margin-right: 0px;
}


img{
    width:300px;
} 